---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog de ejemplo</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about">Acerca de</a>
		<a href="/blog">Blog</a>

		<h1>Blog de ejemplo con Astro</h1>
		<p>Este es un ejemplo</p>
	</body>
</html>
